.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.social {
  @include list-reset;
  display: none;
}

.social__icon {
  width: 14px;
  height: 14px;
  fill: #000000;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .social {
    display: flex;
    margin: 0 30px;
  }
}

@media (min-width: 1200px) {
  .social__item {
    a {
      width: 26px;
      height: 26px;
      transition: all 0.3s;
      &:hover {
        background-color: transparent;
        .social__icon {
          fill: #ffffff;
        }
      }
    }
  }

  .social__icon {
    width: 16px;
    height: 16px;
  }
}