.promo {
  background-color: #000000;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.promo__sub-list {
  @include list-reset;
  margin: 0;
  margin-top: -1px;
  margin-bottom: -1px;
}

.promo__list {
  @include list-reset;
  margin: 0;
}

.promo__audio {
  position: fixed;
  bottom: 30px;
  left: 30px;
  cursor: pointer;
}

.promo__icon {
  width: 46px;
  height: 46px;
  fill: #ffffff;
  stroke: #ffffff;
  transition: all 0.3s;
  &:hover {
    fill: $hover-color;
    stroke: $hover-color;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 2px);
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}

.promo__title {
  font-family: $corm;
  padding: 5px;
  background: rgba(0, 0, 0, 0.42);
}

.promo__item {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(180deg, rgba(99, 99, 99, 0.42) 0%, rgba(35, 35, 35, 0.42) 33.85%, rgba(0, 0, 0, 0.273) 53.65%, rgba(159, 158, 158, 0.126875) 69.79%, rgba(138, 138, 138, 0) 100%);
  // }
  &--inner {
    &::before {
      display: none;
    }
  }
}

.promo__img {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(180deg, rgba(99, 99, 99, 0.42) 0%, rgba(35, 35, 35, 0.42) 33.85%, rgba(0, 0, 0, 0.273) 53.65%, rgba(159, 158, 158, 0.126875) 69.79%, rgba(138, 138, 138, 0) 100%);
  // }
}


@media (min-width: 768px) {
  .promo__title {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .promo__title {

    font-size: 4.5vw;
    line-height: 6vw;

  }

  

  .promo__desc {
    font-size: 30px;
  }

  .promo__item {
    &--inner {
      .promo__img {
        top: auto;
        right: 85px;
        bottom: 30px;
        left: auto;
        width: calc(75% - 185px);
        height: calc(100vh - 207px);
      }
      .promo__content {
        text-align: left;
      }
      .promo__title {
        font-size: 2.5vw;
        line-height: 3vw;
        max-width: 50%;
        padding: 0;
      }
      .promo__wrapper {
        padding-left: 165px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .promo__wrapper {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
} 