.about {
  p {
    font-size: 16px;
    line-height: 30px;
  }
  img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .about {
    .page-scroll {
      height: 60vh;
    }
    img {
      float: right;
      width: 40%;
      margin-top: -80px;
      margin-right: 20px;
      margin-left: 80px;
      margin-bottom: 80px;
    }
  }
}

@media (min-width: 1920px) {
  .about {
    .about__content {
      padding: 0 7.5%;
    }
    img {
      margin-left: 80px;
      margin-bottom: 80px;
    }
  }
}
