.header {
  font-family: $nano;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}

.header__pin {
  display: none;
  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../img/pin.svg);
    margin-right: 10px;
  }
}

.header__logo {
  display: block;
  width: 135px;
  img {
    width: 100%;
  }
}

.header__top {
  display: flex;
  align-items: flex-start;
}

.header__lang {
  width: 27px;
  margin-right: 60px;
  margin-left: auto;
  margin-top: 10px;
  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .header__pin {
    display: flex;
    color: #ffffff;
    margin-left: auto;
  }

  .header__lang {
    margin-left: 0;
  }


  .header__top {
    .social {
      margin-left: auto;
      margin-top: 12px;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 45px 30px 50px 30px;
  }

  .header__logo {
    position: relative;
    z-index: 20;
    top: -15px;
    width: 14%;
  }

  .header__top {
    align-items: flex-start;
    .social {
      margin-top: 0;
      position: relative;
      z-index: 30;
    }
  }

  .header__pin {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .header__lang {
    position: relative;
    z-index: 30;
    width: 26px;
    margin: 0;
    margin-right: 140px;
  }
}